
.AdminCard img {
    width: 300px;
    height: 200px;
    margin: 5px;
    border-radius: 10px;
    vertical-align: middle;
} 

.AdminCard > div{
    background-image: linear-gradient(rgb(174, 234, 231) , rgb(122, 134, 138));
    
    border-radius: 10px;
    
    
}

.editDeleteBtn  {
    
    justify-content: center;
 
}



